.fixed_top_bar {
	position: fixed;
    top: 0px;
    background-color: darkslateblue;
    height: 30px;
    width: 100%;
}
.email_container{
	margin-top: 30px;
}
.email_section {
	background: darkslateblue;
	padding: 30px 0 50px 0;
	width: 100%;
}
.heading {
	color: white;
	margin: 0px;
}
.text {
	color: white;
	margin: 15px 0;
}
.msg_text {
	color: darkorange;
    font-weight: 600;
    font-size: 12px;
    margin: 10px 0px;
    padding-bottom: 30px;
}
#email {
	width: 500px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 20px;
    padding: 4px 10px;
}
#go_button {
	height: 50px;
    width: 110px;
    font-size: 20px;
    background-image:linear-gradient(to right, #ff9966 0%, #ffff99 100%);
    border-radius: 5px;
    padding: 4px 10px;
}

#go_button:hover {
	background-image:linear-gradient(to left, #ff9966 0%, #ffff99 100%);
}

#go_button:active {
	background-image:linear-gradient(to left, #ff6600 0%, #ff99cc 100%);
}

.reverse_email_section {
	height: 100%;
	padding: 0 50px;
}
.reverse_email_heading {
	color: darkslateblue;
}
.reverse_email_text {
	color: grey;
}
#result_contaniner {
	margin-top: 30px;
	width: 100%;
}
.result_heading {
	color: darkslateblue;
}
.result_text {
	font-size: 15px;
	margin-bottom: 15px;
}
#user_info_card {
	border: 1px solid grey;
	border-radius: 25px;
	padding: 20px;
	margin: auto;
}
#address_and_phone, #email_and_relatives {
	margin-top: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

#address, #phone, #emailid, #relatives {
	display: inline-block;
	width: 200px;
	height: 100%;
}
#user_info_card h2,h5{
	margin: 2px 0px;
	color: darkslateblue;
}
p {
	margin: 0px;
	font-size: 12px;
	margin: 0px 0px;

}
.email_result_section {
	background: darkslateblue;
	margin-top: 30px;
	height: 300px;
	padding-top: 60px;
	width: 100%;
}
.fixed_bottom_bar {
	position: fixed;
	bottom: 0px;
	height: 30px;
	background-color: white;
	width: 100%;
}
@media only screen and (min-width: 1000px) {
  #user_info_card{
  	width: 700px;
  }
}

@media only screen and (max-width: 600px) {
  
  #email {
  	width: 90%;
  	margin: 0px;
  }
  #go_button {
  	width: 95%;
  	margin-top: 10px;
  }
}

@media only screen and (max-width: 600px) {
  	#address_and_phone, #email_and_relatives {
  		display: flex;
  		flex-direction:column;
  		justify-content: center;
  		align-items: center; 
	}
	.email_result_section {
		
		width: 100%;
	}
	#user_info_card {
		display: flex;
		flex-direction: column;
	}

}

